nav {
  position: fixed;
  height: 120px;
  width: 100%;
  color: #FFFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  z-index: 3;
  top: 0;
}

.navtitle {
  float: left;
  padding: 1.5em;
  padding-right: 0;
}

.subspan {
  float: right;
  margin: 1.5em;
  font-size: 20px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  background-color:  #4056A1;
  border: none;
  padding-left: 0;
  
}
.arrow {
  animation: MoveUpDown 2s linear infinite;
  position: fixed;
  margin: auto;
  color: red;
  padding-left: 3em ;
  
}
@keyframes MoveUpDown {
  48% {
    top: 48px;
  }
  50% {
    top: 55px;
  }
}







